@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.uui-gradient-text {
  background: -webkit-linear-gradient(right, rgb(99, 16, 176), #9c3bc4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.uui-gradient-bg {
  background: -webkit-linear-gradient(right, rgb(99, 16, 176), #9c3bc4);
}
